body{
    background-color: black;
    padding: 5px;
    background-image: url("bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    text-align: center;

    padding: 200px 45% 10% 50px;
}

.dataCont{
    background-color: rgba(254, 254, 254, 0.9);
    border: 15px solid rgb(10, 255, 243);
    margin: 0 auto;
}

.zip-input{
    background-color: rgb(224, 255, 181);
    padding-left: 5px;
}


